.App {
  text-align: center;
  /*background-color: #14181c;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  /*background-color: #44c4b1;#605ef5;*/
  background: rgb(35, 7, 77);
  background: linear-gradient(90deg, rgba(35, 7, 77, 1) 0%, rgba(204, 83, 51, 1) 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  /*padding-left: 40px;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 80px;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.title {
  font-family: 'Didact Gothic', sans-serif;
  margin-right: auto;
  padding-left: 50px;
  cursor: pointer;
  border: 0;
  background: none;
  font-size: 200%;
  color: aliceblue;
  outline: none;
  text-shadow: 1px 2px #8a363d;/*#5db3ca;*/
}

.buttons {
  padding-right: 50px;
}

.Input-box {
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  background: url("https://storage.googleapis.com/movie-90619.appspot.com/searchicon.png") no-repeat scroll;
  background-size: contain;
  padding-left: 55px;
}

/*.Search-button {
  border-radius: 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  align-items: center;
  width: 50px;
}

.Search-button:hover {
  background-color: rgb(190, 183, 183);
}*/

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  text-align: left;
}

.film {
  /*background-color: #cdcce9d2;/* #2c3440;*/
  background: rgb(252,214,205);
  background: linear-gradient(90deg, rgba(252,214,205,1) 0%, rgba(255,255,255,1) 100%);
  margin: 1rem;
  width: 200px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.film img {
  max-width: 100%;
}

.film img:hover {
  transform: scale(1.1);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: whitesmoke;
  text-align: justify;
  overflow-y: auto;
  padding: 2%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* buttons */
.netflix {
  border: none;
  border-radius: 20%;/*8px;*/
  cursor: pointer;
  width: 60px;
}

.amazonPrime {
  border: none;
  border-radius: 20%;/*8px;*/
  cursor: pointer;
  width: 60px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.keyword-button {
  margin-top: 15px;
}

button {
  margin: 2px;
}
